/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:tomato ;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

h1:not(header h1) {
    font-size: 2rem;
    border-bottom: 1px solid #333;
    margin-bottom: .5em;
}

header h1 {
    margin-left: 1.5em;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: justify;
}

.two-row-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
}

.half-article {
    width: 95%;
    padding: 0 10px;
    text-align: justify;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .two-row-container {
        flex-direction: column;
    }

    .half-article {
        width: 100%;
    }
}

.button{
    background-color: lightgray;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 5px;
    color : #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button:hover{
    background-color: gray;
    color: #f7f7f7;
}

.two-row-container img{
    max-width: 100%;
    border: 1px solid #333;
}

.article-link{
    transition: all .2s ease-in-out; 
}

.article-link h1{
    border-bottom: none;
    margin-bottom: 0;
}

.article-link:hover{
    transform: scale(1.1);
}

.article-link-a{
    text-decoration: none;
    color : #333;
}